.wrapper {
    max-width: 100%;
    background: #016CB9;
}

.footer {
    max-width: 75rem;
    height: 22.75rem;
    margin: 0 auto;
    padding: 1rem 0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}


.footer_block_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
    color: #fff;
}

.text {
    width: 16rem;
    font-size: 1rem;
}

.tel, .addres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1rem;
    color: #fff;
}

.link {
    color: #fff;
}

.text_addres {
    width: 6rem;
}

.addres_text {
    width: 15.125rem;
}

.block_link_seti {
    height: 22.75rem;
}

.link_seti {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    column-gap: 1rem;
    margin-top: 1rem;
}
